.page-container {
    display: flex;
    justify-content: space-between;

    height: 800px;

}

.content-wrapper img {
    height: 40%;
}

.img {
    height: 40%;
}

.squares img {
    height: 40%;
} 